* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.card-radious {
	border-radius: 7% !important;
	padding: 2% !important;
}

.img-radious {
	border-top-left-radius: 7%;
	border-top-right-radius: 7%;
}


.justified-text {
	text-align: justify;
}

.img-thumbnail {
	border: none;
	padding: 0;

}